@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --bg-color: #222831; /* Cor de fundo escura */
    --primary-color: #DDDDDD; /* Cor principal mais clara */
    --secondary-color: #FF6B6B; /* Cor secundária mais suave */
    --font: "Nunito Sans", sans-serif;
    --font-size-base: 16px;  /* Base para fonte */
    --font-size-lg: 2rem;    /* Tamanho grande para cabeçalhos */
    --font-size-md: 1.2rem;  /* Tamanho médio para parágrafos */
    --font-size-sm: 1rem;    /* Tamanho pequeno para textos menores */
    --padding: 2rem;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    font-size: var(--font-size-base);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  /* Adicionando sombra ao cabeçalho */
}

h1 {
    font-size: var(--font-size-lg);
    color: var(--bg-color);
    font-weight: 700;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 1rem;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--bg-color);
    margin: 0.5rem 2rem;
    font-size: var(--font-size-md);
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
    transform: scale(1.05);
}

.grafico {
    margin-top: 3rem;
}

.graficos-container {
    margin: 3rem 5rem;
}

.graficos-container__texto {
    font-size: var(--font-size-md);
    text-align: center;
    padding: var(--padding);
    border: 2px solid var(--secondary-color);
    margin-bottom: 2rem;
    box-sizing: border-box;
    max-width: 600px;
    width: 100%;
}

span {
    font-weight: bold;
    color: var(--secondary-color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    font-size: var(--font-size-sm);
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .graficos-container {
        margin: 2rem;
    }

    .graficos-container__texto {
        margin-bottom: 1.5rem;
        width: 90%;
    }

    footer {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem; /* Tamanho menor para telas pequenas */
    }

    nav a {
        font-size: var(--font-size-sm);
        margin: 0.5rem 1rem;
    }

    .graficos-container__texto {
        padding: 1rem;
    }

    footer {
        font-size: var(--font-size-sm);
        height: 2.5rem;
    }
}
